<div class="footer">
    <div class="w">
        <div class="wrap">
            <dl class="server1">
                <dt>购物指南</dt>
                <dd><a href="#">购物流程</a></dd>
                <dd><a href="#">联系客服</a></dd>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">团购</a></dd>
            </dl>
            <dl class="server2">
                <dt>支付方式</dt>
                <dd><a href="#">在线支付</a></dd>
                <dd><a href="#">货到付款</a></dd>
                <dd><a href="#">信用卡支付</a></dd>
                <dd><a href="#">公司转账</a></dd>
            </dl>
            <dl class="server3">
                <dt>售后服务</dt>
                <dd><a href="#">售后政策</a></dd>
                <dd><a href="#">退换货服务</a></dd>
                <dd><a href="#">退款说明</a></dd>
                <dd><a href="#">取消订单</a></dd>
            </dl>
            <dl class="server4">
                <dt>配送方式</dt>
                <dd><a href="#">上门自提</a></dd>
                <dd><a href="#">送货上门</a></dd>
                <dd><a href="#">海外配送</a></dd>
                <dd><a href="#">配送收费标准</a></dd>
            </dl>
        </div>
        <div class="firstlink">
            <a href="#">关于我们</a>
            <span class="fenge"> | </span>
            <a href="#">联系我们</a>
            <span class="fenge"> | </span>
            <a href="#">联系客服</a>
            <span class="fenge"> | </span>
            <a href="#">合作招商</a>
            <span class="fenge"> | </span>
            <a href="#">商家帮助</a>
            <span class="fenge"> | </span>
            <a href="#">营销中心</a>
            <span class="fenge"> | </span>
            <a href="#">销售联盟</a>
            <span class="fenge"> | </span>
            <a href="#">风险监测</a>
            <span class="fenge"> | </span>
            <a href="#">隐私政策</a>
            <span class="fenge"> | </span>
            <a href="#">English Site</a>
        </div>
        <div class="link">
            <span>友情链接</span>
            <a href="https://www.taobao.com/">淘宝</a>
            <span class="fenge"> | </span>
            <a href="https://www.tmall.com">天猫</a>
            <span class="fenge"> | </span>
            <a href="https://www.baidu.com">百度</a>
            <span class="fenge"> | </span>
            <a href="https://jd.com">京东</a>
            <span class="fenge"> | </span>
            <a href="https://https://www.163.com/">网易</a>
            <span class="fenge"> | </span>
            <a href="https://https:www.qq.com/">腾讯</a>
        </div>
        <div class="right">
            <span>Copyright © 2004 - 2018  </span>
            <span> 小淘商城 版权所有</span>
            <span class="fenge"> | </span>
            <span>消费者维权热线：4006067733</span>
        </div>
    </div>
</div>

