<div class="wrap">
    <div class="w">
        <div class="navleft">
            <ul>
                <li class="pagePosition"><a href="">首页</a></li><!--页面位置默认首页-->
                <li class="fenge"> <span class="fenge"> | </span></li>
                <li class="address">
                    <div class="fl addpho">
                    <span class="address"></span>
                    </div>
                    <span class="ziti">北京</span>
                </li><!--地点默认北京，后面根据收货地址来确定-->
            </ul>
        </div>
        <div class="navright">
            <ul>
                <li class="username">
                    <div class="user">
                        <a class="name" href="#">请登录</a>
                        <p>
                            <!--<img class="userphoto" src="../../image/icons/logo.png" alt="">-->
                            <!--<img src="../../image/icons/icons.png" alt="">-->
                        </p>
                    </div>
                </li>
                <li class="fenge"> <span class="fenge"> | </span></li>
                <li>
                    <a class="col-red" href="#">注册有惊喜</a>
                </li>
                <li class="fenge"> <span class="fenge"> | </span></li>
                <li class="icon">
                    <a href="#">我的订单</a>
                    <div class="xiaotubiao">
                        <span>◇</span>
                    </div>
                </li>
                <li class="fenge"> <span class="fenge"> | </span></li>
                <li class="icon">
                    <a href="#">我的小淘</a>
                    <div class="xiaotubiao">
                        <span>◇</span>
                    </div>
                </li>
                <li class="fenge"> <span class="fenge"> | </span></li>
                <li class="icon">
                    <a href="#">企业采购</a>
                    <div class="xiaotubiao">
                        <span>◇</span>
                    </div>
                </li>
                <li class="fenge"> <span class="fenge"> | </span></li>
                <li class="icon">
                    <a href="#">客户服务</a>
                    <div class="xiaotubiao">
                        <span>◇</span>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>